<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>OES Core Simulation Examples</title>
<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
<meta name="description"
	content="Simulation examples for OES Core simulators" />
<style>
p.description {
	font-size: smaller;
}
</style>
</head>
<body>

	<main>
		<h1>Simulation Examples</h1>
		<h2>OESjs Core 0</h2>
		<p class="description">A minimal architecture for Object Event
			Simulation (OES), supporting models with (global) model variables and
			functions, object types, event types, and simple simulation
			experiments.</p>
		<nav>
			<ul>
				<li><a href="/core0/servicedesk0">Service-Desk-0</a></li>
				<li><a href="/core0/servicedesk1">Service-Desk-1</a></li>
				<li><a href="/core0/servicedesk2">Service-Desk-2</a></li>
				<li><a href="/core0/inventory-managment">Inventory-Management</a></li>
			</ul>
		</nav>
	</main>
	<footer>
		<p>
			© 2021 G. Wagner (<a
				href="https://creativecommons.org/licenses/by/4.0/">CC BY</a>),
			Brandenburg University of Technology, Germany
		</p>
	</footer>
</body>
</html>
